{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container overlay">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container text-center text-navy">
        <div class="row">
            <div class="col">
                <h2 class="text-center mt-4 mb-5">Error 404 - Page Not Found</h2>
                <p class="text-center">The page that you are looking for is not available. Please return shopping.</p>
                <a href="{% url 'products' %}" class="btn btn-lg btn-custom mb-5"
                    aria-label="This link brings you to view the products page.">Go To
                    Our Store</a>
            </div>
        </div>
    </div>
{% endblock %}